/*
@charset "UTF-8";
.allrecords{
    padding: 15px 0px;
     width: 650px;
}
.record{
    margin: 5px 0px;
    }
*/
#kcfinder_div{
    height: 400px;
    width: 870px;
}
#kcfinder_div_selPic{
    clear: both;
}

/*===================================================================================*/
.sidebar{

    width: 200px;
    float: left;
}
    .sidebar .well{
        padding: 10px !important;
      /*  margin-bottom: 10px;*/
    }
.sub-sidebar {
    min-height: 400px;
    width: 170px;
    float: left;
   /* background: #EEE;
    border-radius: 0px 3px 3px 0px;
    border: 1px solid #DDD;
    border-top: 1px solid #E5E5E5;
    box-shadow: 5px -3px 6px rgba(100, 100, 100, 0.03);*/

}

#others-sidebar{min-height: 135px;}
/*===================================================================================*/

.articleBar {
    background: #EFEFEF;
    border-bottom: 1px solid #DDD;
    padding: 2px 7px;
    margin-bottom: 5px;
    margin-top: 20px;
}

form[id^="new_record"] {background-color: #E8EDF0;}
form[id^="new_record"] .title {width: 500px !important;}
form[id^="new_record"] select[name="format"] {width: 100px !important;}

.SGrecord
{
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.allrecords .container-fluid
{
    padding-right: 0px !important;
}


    .record .title {
            display: inline-block;
            width: 450px;
            font-weight: bold;
            font-size: 14px;

        }

    .record .preview-title {
        color: #333 !important;
    }
           .record .mainPic,
           .SGrecord .thumbPic,
           .allcomments  .thumbPic{
               /*vertical-align: bottom;*/
               display: inline-block;
               height: 150px !important;
               width: 150px !important;
               overflow: hidden;
               padding: 0px;

           }
           .SGrecord .thumbPic,
           .allcomments  .thumbPic{
               vertical-align: top;
               margin-right: 20px;
               border: 1px solid lightgray;
               border-radius: 4px;
           }
                   .record .mainPic > img,
                   .SGrecord .thumbPic > img ,
                   .allcomments  .thumbPic > img{
                       height: initial !important;
                       width: initial !important;
                       max-height: 150px !important;
                       max-width: none !important;
                       margin: 0px !important;
                   }






    .record>.row>.thumbnail {display: inline-block; margin-right: 10px;}
    .record>.row>small {display: block; margin-bottom: 20px;}

    .record h5.article-authors {margin-bottom: 0px !important;}

    .record .publishDate {
        float: right;
        padding: 0px 9px;
    }
    .record .notPublished {
        float: right;
        color: bisque;
        border-radius: 4px;
        padding: 0px 9px;
        font-weight: bold;
        background: orangeRed;

    }

 /*=============Home priorities =========================*/
.allrecords_home{
    box-shadow: 0px 0px 8px rgba(100, 100, 100, 0.15);
    padding: 20px;
    margin-bottom: 10px;
    background: white;
}
/*================================[home-priorities - L1 - settings ]========================*/
.recordHome a.mainPic-L1{
    margin: 10px;
    margin-left: 0px;
    margin-top: 0px;
    padding: 0px;
}

    .recordHome a.mainPic-L1 > img {
        height: initial !important;
        max-width: 180px !important; ;
    }

/*================================[home-priorities - L2 - settings ]========================*/
.recordPrev-L2{
    display: inline-block;
    width: 140px;
    height: 350px;
    padding: 5px;
    margin: 10px;
    margin-left: 0px;
    vertical-align: top;
}
    .recordPrevCont-L2{
        line-height: 11pt;
        margin-bottom: 7px;
        height: 265px;
        overflow: hidden;
    }

.recordHome a.mainPic-L2  {
    vertical-align: bottom;
    display: block;
    height: 130px !important;
    width: 130px !important;
    overflow: hidden;
    padding: 0px;
    margin: 0px auto !important;

   }
      .recordHome a.mainPic-L2 > img {
          height: initial !important;
          width: initial !important;
          max-height: 130px !important;
          max-width: none;
          margin: 0px !important;
       }


.recordHome .preview-title-L2 {
    color:#08C !important;
    font-size: 9pt;
    font-weight: bold;
}
.recordHome .lead-L2{
    text-align: justify;
    font-size: 8pt;
    display: block;
    height: 100%;

}

.recordHome .readMore-L2{
    text-decoration: underline;
    font-size: 7.5pt;
    font-weight: bold;
}

/*==============================[single - record]===========================================*/

.SGrecord .article-authors{ display: inline-block;}

form.SGrecord .content{ min-height: 300px; }

form.SGrecord .title  {
    width: 98%;
    line-height: 40px;
    font-weight: bold;
    font-size: 37;
    height: 47px;
    color: #000000;
}

form.SGrecord .lead   { min-height: 100px;  width: 100%; }

/*===========================[set priorities - popUp]=================*/
#sortable-priorities{
 list-style-type: none;
 margin: 0;
 padding: 0;
}
    #sortable-priorities li {
        margin-bottom: 5px;
        padding: 5px;
        font-size: 11pt;
        height: 1.5em;
    }

        #sortable-priorities li span.prior_ctrls{ float: right;}
            #sortable-priorities li span.prior_ctrls button{ vertical-align: top;}

input[name="endDate"]{padding: 1px 5px;}
button[name="savePriorities"]{clear: both; float: right;}
button[name="addPriority"]{float: right; vertical-align: top;}

p#currentRecord {
    clear: both;
    border: 1px solid #DDD;
    border-radius: 2px;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 11pt;
    height: 1.5em;
    background: #E7EEF7;

}

/*==========================[ pic details ]====================*/
.picFull{
    position: relative;
}
.picDetails .more-picDetails
{
    display: none ;
    position: absolute;
   /* height: 35px;*/
    background: whiteSmoke;
    width: inherit;
    padding: 5px 0px;
    margin-top: 3px;
    margin-left: -3px;
    box-shadow: 0px 2px 3px rgba(100, 100, 100, 0.5);
    width: 100%;
    z-index: 999;
}
    .picDetails .more-picDetails > *{
        margin-left: 7px;
    }
form .picDetails .more-picDetails{display: block !important;}



