@charset "UTF-8";

.authName { clear: both;}

/* blogPrevRecord.html */
.blogPrev-lead {margin-bottom: 20px;}
.blogPrev-content {margin-bottom: 20px;}

/*  blogPrevRecord.html, blogRecord.html */
.fullImage,
.blogRecords .record .blogPrev-lead img,
.blogRecords .record .blogPrev-content img,
.SGrecord .lead img,
.SGrecord .content img
{
    width: 100% !important;
    height: initial !important;

}

.SGrecord .content{
    font-family: "futura-pt", Arial, sans-serif;
    font-size: 17px;
    line-height: 20px;
    color: #333;
    font-weight: 200;
}
.notPublished {text-transform: lowercase !important; color: darkgray; font-style: italic;}

#sharepanel .addthis_toolbox {
    margin-top: -6px !important;
}
