@charset "UTF-8";

.authName { clear: both;}

/* blogPrevRecord.html */
.blogPrev-lead {margin-bottom: 20px;}
.blogPrev-content {margin-bottom: 20px;}

.fullImage,
.blogRecords .record .blogPrev-content img{
    max-width: 100% !important;
    height: initial !important;
}

